<div class="text-center py-5">
  <h1 class="display-4 mb-4 animate__animated animate__fadeInDown">🎬 ¡Bienvenido a <span class="text-primary">Peliculas Animacion</span>!</h1>

  <p class="lead animate__animated animate__fadeIn animate__delay-1s">
    Explora <strong>miles de películas</strong>, descubre tus favoritas y disfruta de una experiencia de cine personalizada 🍿.
  </p>

  <a routerLink="/buscar" class="btn btn-lg btn-outline-primary mt-4 animate__animated animate__fadeInUp animate__delay-2s">
    <i class="bi bi-search me-2"></i> Empezar a Buscar
  </a>
</div>
